body{
  background-color: #70cbff;
  background-image: url(/img/fundo.png);
  background-position-x: center;
  background-position-y: -200px;
  background-size:2000px;
}

.formulário{
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  background-color: #47a7da;
  width: 900px;
  height: 500px;
  border-radius: 30px;
  position: relative;
  top: 50px;
  left: 200px;
}

.formulário label{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #00146d;
  position: relative;
  margin: 50px;
  bottom: 30px;
  right: 300px;
}

#turma,
#Grau,
#turno{
  width: 350px;
  height: 25px;
  border: none;
  position: relative;
  bottom: 50px;
  right: 150px;
}
