body{
  background-color: #70cbff;
  background-image: url(/img/fundo.png);
  background-position-x: center;
  background-position-y: -200px;
  background-size:2000px;
}

.logo{
    font-family: 'Concert One', sans-serif;
    color: #00146d;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  background-color: #47a7da;
  width: 900px;
  height: 500px;
  border-radius: 30px;
  position: relative;
  top: 50px;
  left: 200px;
}

.container label{
  color: #00146d;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: relative;
  margin: 20px;
  bottom: 30px;
  right: 200px;
}

#nome,
#email,
#senha{
  width: 450px;
  height: 25px;
  border: none;
  position: relative;
  bottom: 40px;
}

button{
    background-color: #70cbff;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    height: 30px;
    width: 430px;
}
