body{
    background-color: #70cbff;
    display: flex;
    justify-content: center;
}

h2{ 
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #70cbff;
}

.aluno{
    background-color: white;
    border-radius: 4px;
    padding: 20px 40px;
    margin: 30px;
}

.pedagogia{
    
    background-color: white;
    border-radius: 4px;
    padding: 20px 30px;
    padding-right: 20px;
    margin: 30px;
}

.aluno_img{
    position: relative;
    width:70px;
    left: 400px;

}